<h2>Resume</h2>

<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Awards">
    <ng-template ngbPanelContent>
      <div class="col-md-6">
        <img src="img/hellohackathon.jpg" alt="Hello Hack-a-thon" class="img-thumbnail">
        <h3>Hello Hack-a-thon 2016
          &nbsp; <small>Second Place</small></h3>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Experieince</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul class="list-group">
          <li><h3>LaunchCode STL, <small>Saint Louis <i>-Teaching Fellow</i></small></h3>
            <h5>January 2017 - Present</h5>
            <p>Teaching Assistant for an unique class that seeks to provide training for
              in-demand tech skills that prepare successful students for apprenticeships
            in computer programming and information technology.</p></li>
            <li><h3>Express Scripts, <small>Saint Louis <i>-PegaSystems System Architect</i></small></h3>
              <h5>October 2017 - March 2018</h5>
              <p>System Architect and QA Automation Developer working with PegaSystems, Selenium, Cucumber, 
              and Gherkin.</p></li>
              <li><h3>Enterprise, <small>Maryland Heights <i>-System Engineer Intern</i></small></h3>
                <h5>May 2017 - August 2017</h5>
                <p>Intern focusing on the full spectrum of Agile development from story creation through development
                and QA Automation.</p></li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Education" >
            <ng-template ngbPanelContent>
              <ul class="list-group">
                <li class="list-group-item"><h3>Summer of Code, <small>LaunchCode STL</small></h3>
                  <h5>May 2016 - November 2016</h5>
                  <p>Intensive course covering the basics of front-end development and
                  database manipulation, with a focus on back-end development.</p></li>
                </ul>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Skills" >
              <ng-template ngbPanelContent>
                <div class="row">
                  <div class="col-md-6">
                    <div class="list-group">
                      <ul class="list-group accordian">
                        <li><h3>Java</h3></li>
                        <li><h3>Python</h3></li>
                        <li><h3>Angular</h3></li>
                        <li><h3>ReactJS</h3></li>
                        <li><h3>Selenium</h3></li>
                        <li><h3>Spring Boot</h3></li>
                        <li><h3>Hibernate</h3></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="list-group">
                      <ul class="list-group accordian">
                        <li><h3>MySQL Databases</h3></li>
                        <li><h3>Agile Methodology</h3></li>
                        <li><h3>Cucumber</h3></li>
                        <li><h3>Automation</h3></li>
                        <li><h3>JUnit</h3></li>
                        <li><h3>HTML/CSS</h3></li>
                        <li><h3>Bootstrap 4</h3></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>